<div class="content-page-box-area">
    <div class="page-banner-box bg-4">
        <h3>Friend Requests</h3>
    </div>

    <div class="friends-inner-box-style d-flex justify-content-between align-items-center margin-top-25">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="friend-requests-tab" data-bs-toggle="tab" href="#friend-requests" role="tab" aria-controls="friend-requests">Friend Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" href="#people-you-know" role="tab" aria-controls="people-you-know">People You Know</a>
            </li>
        </ul>

        <div class="friends-search-box">
            <input id="searchFriendRequests" type="text" class="input-search" placeholder="Search for friend requests or people if you know ..." />
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="friend-requests" role="tabpanel">
            <div id="friendRequests" class="row justify-content-center">
            </div>
        </div>

        <div class="tab-pane fade" id="people-you-know" role="tabpanel">
            <div id="peopleYouKnow" class="row justify-content-center">
            </div>
        </div>
    </div>
</div>